<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fiat lux</title>
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div id="ui">
      <input id="light_state" type="checkbox" >
      <input id="light_bright" type="range" max="255">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      function debounce(fn, delay) {
          var timeout;

          return function () {
              var context = this,
                  args = arguments;

              clearTimeout(timeout);
              timeout = setTimeout(function () {
                  fn.apply(context, args);
              }, delay || 250);
          };
      }

      var ui = document.getElementById('ui')
      var state = document.getElementById('light_state')
      var bright = document.getElementById('light_bright')
      var socket = io();
      socket.on('server event', function (data) {
        if (data[2].state.reachable) {
          ui.classList.add('online');
          state.checked = data[2].state.on;
          bright.value = data[2].state.bri;
        }
      });
      socket.on('server update',function(data){
		state.checked = data["on"];
		bright.value = data["bri"];
		console.log(data)
	})
      ui.addEventListener('change',function() {
        var data = {
          "on": state.checked,
          "bri": parseInt(bright.value)
        }
        socket.emit('client event', data)
      })
    </script>
  </body>
</html>
